In [2]:
import numpy as np
import pandas as pd
import matplotlib as mlt
import seaborn as sns

In [3]:
d = pd.read_csv(r"D:\demo practice\deliveries.csv")
m = pd.read_csv(r"D:\demo practice\matches.csv")

In [6]:
# highest sixes
six = d[d['batsman_runs'] == 6]
six.groupby('batsman')['batsman_runs'].count().sort_values(ascending = False).head(10)

batsman
CH Gayle          266
SK Raina          174
RG Sharma         173
V Kohli           160
DA Warner         160
AB de Villiers    158
MS Dhoni          156
YK Pathan         149
KA Pollard        148
Yuvraj Singh      141
Name: batsman_runs, dtype: int64

In [21]:
#strikerate in death overs
do = d[d['over'] > 15]
h = do.groupby('batsman')['batsman_runs'].count()
x = h > 200
y = h[x].index.tolist()
final = d[d['batsman'].isin(y)]
runs = final.groupby('batsman')['batsman_runs'].sum()
balls = final.groupby('batsman')['batsman_runs'].count()
sr = (runs/balls) *100
sr.sort_values(ascending = False).head(10)

batsman
AB de Villiers     145.129059
YK Pathan          140.751445
KA Pollard         140.621266
DA Warner          138.318401
DA Miller          137.709251
JA Morkel          136.938202
Harbhajan Singh    135.194585
SK Raina           134.995548
MS Dhoni           132.835821
KM Jadhav          130.555556
Name: batsman_runs, dtype: float64

In [39]:
# orange cap
merged = d.merge(m,left_on = 'match_id', right_on = 'id')
x = merged.groupby(['season', 'batsman'])['batsman_runs'].sum().sort_values(ascending = False)
x.reset_index().drop_duplicates(subset = 'season', keep = 'first').set_index('season').sort_values('season')

             batsman  batsman_runs
season
2008        SE Marsh           616
2009       ML Hayden           572
2010    SR Tendulkar           618
2011        CH Gayle           608
2012        CH Gayle           733
2013      MEK Hussey           733
2014      RV Uthappa           660
2015       DA Warner           562
2016         V Kohli           973
2017       DA Warner           641